table {
    width: 100%;
}

th {
    background: #darkgreen;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 6px;
    text-align: center;
}


#